<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <div class="picture_form">
    <div class="picture_image">
  <%= image_tag(@picture.image.url) if @picture.image.url %>
    </div>
  </div>
  <p>コメント:<%= @picture.content %></p>
  <%= form.submit  "投稿する" %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>