<div class="container">
<div class="row">
<div class="col-sm-8 center-block">
  <div class="container">
    <div class="row">
<% @pictures.each do |p| %>
      
      <div class="posts col-sm-12">
        <p><%= p.user.name %></p>
        <div class="post_image">
          <a href="<%= picture_path(p.id) %>" class="link_to_post">
          <%= image_tag p.image.url %>
         </a>
        </div>
        <div class="post_content">
          <p><%= p.content %></p>
        </div>
        <% if p.user != current_user && logged_in? %>
        <div class="favbtn">
        <% @favorite = current_user.favorites.find_by(picture_id: p.id) %>
          <% if @favorite.present? %>
            <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(picture_id: p.id), method: :post, class: 'btn btn-primary' %>
         <% end %>
        </div>
        <% else %>
        <div class="editbtn btn btn-primary">
          <%= link_to "編集", edit_picture_path(p.id) %>
        </div>
        <div class="deletebtn btn btn-primary">
          <%= link_to "削除", picture_path(p.id), method: :delete %>
        </div>
        <% end %>
      </div>
<% end %>
    </div>
  </div>
</div>
</div></div>